@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    /* font-family: "Knewave", "Roboto", sans-serif;
    letter-spacing: .1rem; */
    font-family: "Roboto", sans-serif;
    background-color: #42BFDD;
}

h1 {
    font-family: "Knewave", "Roboto", sans-serif;
    letter-spacing: .1rem;
    font-size: 4rem;
    color: #F2545B;
    margin: .5rem 0 .5rem 2rem;
    text-shadow: 1px 1px gray;
}

.main {
    display: flex;
    margin: 0 2rem;
    flex-wrap: wrap;
    row-gap: 2rem;
    justify-content: center;
}

.control-interface {
    min-width: 40%;
}

.board-container {

}

.board {
    background-color: #12263A;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: clamp(1rem, .75rem + 1vw, 1.5rem);
    padding: clamp(1rem, .75rem + 1vw, 1.5rem);
    border-radius: 20px;
}

.board-cell {
    width: clamp(40px, 40px + 3vw, 70px);
    height: clamp(40px, 40px + 3vw, 70px);
    background-color: #42BFDD;
    border-radius: 50%;
}

